<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% include header.html %}
    
    <!-- content start -->
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- static_blog_top -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6626420312206852"
     data-ad-slot="8471411541"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <!-- content end -->
    
    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
