<!DOCTYPE html>
<html>
  <meta name="google-site-verification" content="3BfiEYj4k_Hr5SDO10II5EVR9P6si11aTGyFiWOESus" />
  {% include head.html %}

  <body>
    
    {% include header.html %}
    
    <!-- content start -->
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <script data-ad-client="ca-pub-6626420312206852" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- content end -->
    
    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
